@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{list-style: none; color: inherit;}
a{text-decoration: none;}

body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
#container{
    width:100%;
    min-width:1200px;
    overflow:hidden;
}
article{height: 100vh;}

/*=================================*/
#main{
    width: 100%;
    margin: auto;
    position: relative;
}

#typing{
    width: 100%;
    text-align: center;
    font-size: 5rem;
    position: absolute;
    top: 40%;
    transform: translateY(-50%)
}

.scroll-down{
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mouse{
    width: 2.5rem;
    height: 5rem;
    border: 2px solid #333;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
}

.mouse span{
    width: 1rem;
    height: 1rem;
    background-color: #333;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel .5s alternate infinite;
}

.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: #333;
    border-bottom-color: #333;
    transform: rotate(45deg);
    animation: arrow-down 1.5s linear infinite;
}
@keyframes move-wheel{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes arrow-down{
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    0%{
        opacity: .5;
    }
    0%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
/*=================================*/
#intro{
    width: 1200px;
    margin: auto;
    position: relative;
}

h1{
    position: absolute;
    top: 70px;
    font-size: 80px;
    font-weight: 700;
    padding-left: 50px;
}
.photo{
    position: absolute;
    top: 200px;
    padding-left: 50px;
}
.profile_text{
    display: flex;
    position: absolute;
    top: 270px;
    right: -700px;
}
.profile_text.on{
    animation: show 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes show{
    from{
        right: -700px;
        opacity: 0;
    }
    to{
        right: 50px;
        opacity: 1;
    }
}

.profile_text > .proTxt:nth-child(1){
    padding: 0 120px;
}
.pro h3{
    font-size: 28px;
    font-weight: 700px;
    padding-bottom: 10px;
}
.pro p{
    font-size: 18px;
    line-height: 1.5;
}
.proTxt > .pro:nth-child(1){
    padding-bottom: 50px;
}
hr{
    padding: 5px 0;
    outline: none;
    border: none;
}

/*=================================*/
#web_fst{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.Sl_tit{
    position: absolute;
    top: -1080px; 
    left: 11%;
    width:100%;
}

.Sl_tit.on{
    animation: slide 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes slide {
    from{
        top: -1080px;
        opacity: 0;
    }
    to{
        top: 90px;
        opacity: 1;
    }
}

.Sl_tit strong{
    font-size: 40px;
    font-weight: bold;
    color:#dbd1c0;
}
.Sl_tit p{
    font-size: 18px;
}
.Sl_tit button{
    padding: 20px 65px;
    background-color: #eae7e2;
    outline: none;
    border: none;
}
.Sl_tit button:hover{
    background-color: #dbd1c0;
}
.Sl_type{padding: 30px 0 35px 0;}    
.Sl_type h3{
    font-size: 18px;
    padding-top: 30px;
}
.Sl_type h3:first-child{
    padding:0;
}
.Sl_type p{
    font-size:16px;
    line-height:25px;
}
.color{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
.colorIn{
    width: 100px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
}
.form_1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #edf0e9;
    border: none;
    outline: none;
    margin: auto;
}
.form_2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eae7e2;
    border: none;
    outline: none;
    margin: auto;
}
.form_3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333333;
    margin: auto;
}
.colorTxt{
    padding-top: 10px;
}
    
.Sl_img{
    float:left;
    width:75%;
}
.Sl_img:after{
    content:"";
    display:block;
    width: 60%;
    height:100vh;
    background:#eae7e2;
    position:absolute;
    top:0;right:0;
}
/*목업이미지*/
.Sl_img .case{
    position: absolute;
    top:50%; left: 85%;
    transform: translate(-50%,-50%);
    background:url(img/mockup.png) no-repeat center center/cover;
    height:750px;
    width:1300px;
    overflow:hidden;
    z-index:10;
}
.Sl_img a{
    display:block;
    position:relative;
    top:40px;left:74px;
    width:1015px;
    height:605px;
    overflow:hidden;
    z-index:101;
}
.Sl_img a img{
    color: #333;
    position:relative; 
    width: 100%; 
    top:0;transition:6s;
}
.Sl_img a img:hover{transform: translateY(-68%);}
/*=================================*/
#web_scd{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.Nf_tit{
    position: absolute;
    top: 1080px; left: 70%;
    width: 100%;
}
.Nf_tit.on{
    animation: slide 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes slide {
    from{
        top: 1080px;
        opacity: 0;
    }
    to{
        top: 90px;
        opacity: 1;
    }
}
.Nf_tit strong{
    font-size: 40px;
    font-weight: bold;
    color:#dae8d0;
}
.Nf_tit p{
    font-size: 18px;
}
.Nf_tit button{
    padding: 20px 65px;
    background-color: #e9f1e3;
    outline: none;
    border: none;
}
.Nf_tit button:hover{
    background-color: #dae8d0;
}
.Nf_type{padding: 30px 0 35px 0}    
.Nf_type h3{
    font-size: 18px;
    padding-top: 30px;
}
.Nf_type p{
    font-size:16px;
    line-height:25px;
}

.color{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
.colorIn{
    width: 100px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
}
.shape_1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    border: none;
    outline: none;
    margin: auto;
}
.shape_2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    border: none;
    outline: none;
    margin: auto;
}
.shape_3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #333;
    margin: auto;
}
.colorTxt{
    padding-top: 10px;
}
    
.Nf_img{
    float:left;
    width:75%;
}
.Nf_img:after{
    content:"";
    display:block;
    width: 60%;
    height:100vh;
    background:#e9f1e3;
    position:absolute;
    top:0; left:0;
}
/*목업이미지*/
.Nf_img figure{
    position: absolute;
    top:50%; left: 15%;
    transform: translate(-50%,-50%);
    background:url(img/mockup.png) no-repeat center center/cover;
    height:750px;
    width:1300px;
    overflow:hidden;
    z-index:10;
}
.Nf_img a{
    display:block;
    position:relative;
    top:40px;left:212px;
    width:1015px;
    height:605px;
    overflow:hidden;
    z-index:101;
}

.Nf_img a img{
    position:relative;
    width: 100%;
    top:0;
    transition:11s;
}
.Nf_img a img:hover{transform: translateY(-83%);}
/*=================================*/
#contact{
    width: 100%;
    margin: auto;
    position: relative;
}
h2{
    position: absolute;
    top: 30%; left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
}
.link{
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30%; ;left: 50%;
    transform: translate(-50%,-50%);
}
.link > img{
    display: block;
}
.call b{
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
}
.num p{
    font-size: 18px;
    line-height: 50px;
}
.copy{
    text-align: center;
    position: absolute;
    bottom: 5%; left: 50%;
    transform: translateX(-50%);
}